<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <add key="BankId.Merchant.MerchantID" value="0750001221" />
    <add key="BankId.Merchant.SubID" value="0" />

    <add key="BankId.Merchant.ReturnUrl" value="https://idin-issuer.staging.yivi.app/irma_idin_server/api/v1/idin/return" />

    <add key="BankId.Acquirer.AcquirerID" value="000341" />
    <add key="BankId.Acquirer.DirectoryUrl" value="https://openbanking1-int.worldline-solutions.com/bvn-idx-bankid-rs/bankidGateway" />
    <add key="BankId.Acquirer.TransactionUrl" value="https://openbanking1-int.worldline-solutions.com/bvn-idx-bankid-rs/bankidGateway" />
    <add key="BankId.Acquirer.StatusUrl" value="https://openbanking1-int.worldline-solutions.com/bvn-idx-bankid-rs/bankidGateway" />
    <add key="BankId.TLS12.Enabled" value="true" />

    <add key="BankId.KeyStore.Location" value="keystore.jks" />
    <add key="BankId.KeyStore.Password" value="testen" />

    <add key="BankId.Merchant.Certificate.Alias" value="self" />
    <add key="BankId.Merchant.Certificate.Password" value="testen" />
    <add key="BankId.Acquirer.Certificate.Alias" value="bank" />
    <add key="BankId.SAML.Certificate.Alias" value="self" />
    <add key="BankId.SAML.Certificate.Password" value="test" />

    <add key="BankId.Logs.Enabled" value="true" />
    <add key="BankId.ServiceLogs.Enabled" value="true" />
    <add key="BankId.ServiceLogs.Location" value="logs" />
    <add key="BankId.ServiceLogs.Pattern" value="%Y-%M-%D/%h%m%s.%f-%a.xml" />
  </appSettings>
</configuration>