
body {
    margin: 0 auto;
    max-width: 800px;
}

body:not(.phase1) #pane-ideal {
    display: none;
}

body:not(.phase2) #pane-ideal-result-ok {
    display: none;
}

body:not(.phase2) #pane-ideal-result-fail {
    display: none;
}

body:not(.phase3) #pane-idin {
    display: none;
}

body:not(.phase4) #pane-idin-result {
    display: none;
}

.steps {
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.steps:before { /* line behind the steps */
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    left: 1em;
    right: 1em;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, transparent 48%, #ccc 48%, #ccc 52%, transparent 52%);
}

.step {
    display: inline-block;
    border-radius: 1em;
    /* Bootstrap btn-default */
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.step.active {
    /* Bootstrap btn-active */
    color: #fff;
    background: #337ab7;
    border-color: #2e6da4;
}

.logo {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 15px;
}

.bottom {
    margin-top: 50px;
}
